<?xml version="1.0"?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <parameters>
        <parameter key="ftrrtf_rollbar.notifier.class">Ftrrtf\Rollbar\Notifier</parameter>
        <parameter key="ftrrtf_rollbar.environment.class">Ftrrtf\RollbarBundle\Rollbar\Environment</parameter>
        <parameter key="ftrrtf_rollbar.error_handler.class">Ftrrtf\Rollbar\ErrorHandler</parameter>
        <parameter key="ftrrtf_rollbar.rollbar_listener.class">Ftrrtf\RollbarBundle\EventListener\RollbarListener</parameter>
    </parameters>

    <services>
        <service id="ftrrtf_rollbar.error_handler" class="%ftrrtf_rollbar.error_handler.class%">
        </service>

        <service id="ftrrtf_rollbar.environment" class="%ftrrtf_rollbar.environment.class%">
            <argument>%ftrrtf_rollbar.environment.options%</argument>
            <call method="setRequest">
                <argument type="service" id="request" strict="false" on-invalid="ignore" />
            </call>
        </service>

        <service id="ftrrtf_rollbar.notifier" class="%ftrrtf_rollbar.notifier.class%">
            <argument type="service" id="ftrrtf_rollbar.environment" strict="false"/>
            <argument type="service" id="ftrrtf_rollbar.transport" />
            <argument>%ftrrtf_rollbar.notifier.server.options%</argument>
        </service>

        <service id="ftrrtf_rollbar.rollbar_listener" class="%ftrrtf_rollbar.rollbar_listener.class%">
            <argument type="service" id="ftrrtf_rollbar.notifier"/>
            <argument type="service" id="ftrrtf_rollbar.error_handler"/>
            <argument type="service" id="security.token_storage"/>
            <argument type="service" id="security.authorization_checker"/>
            <argument type="service" id="ftrrtf_rollbar.helper.user"/>
            <tag name="kernel.event_listener" event="kernel.exception" method="onKernelException" priority="-100" />
            <tag name="kernel.event_listener" event="kernel.response" method="onKernelResponse" priority="-200" />
            <tag name="kernel.event_listener" event="kernel.request" method="onKernelRequest" />
            <tag name="kernel.event_listener" event="console.exception" method="onConsoleException" />
        </service>
    </services>
</container>
